.grid {
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    grid-template-areas: 
    "content1 header header"
    "content1 content3 aside1"
    "content2 content3 aside2"
    ;
}

.content1 {
    background-color: rgb(29, 138, 101);
    border-radius: 15px;
    grid-area: content1;
}

.content2 {
    background-color: rgb(185, 16, 149);
    border-radius: 15px;
    grid-area: content2;
}

.header {
    background-color: rgb(59, 119, 209);
    border-radius: 15px;
    grid-area: header;
}

.content3 {
    background-color: orange;
    border-radius: 15px;
    grid-area: content3;
}

.aside1 {
    background-color: rgb(39, 56, 39);
    border-radius: 15px;
    grid-area: aside1;
}

.aside2 {
    background-color: rgb(49, 37, 37);
    border-radius: 15px;
    grid-area: aside2;
}