* {
    margin: 0;
    padding: 0;
}

.menu_header {
    color: blue;
    list-style: none;
}

.menu_header li a {
    color: rgb(32, 211, 26);
    text-decoration: none;    
}

.menu_header li a:hover{
    color: rgb(211, 26, 186);
}

section h1 {
    color: #a52a2a;
}

.title_header {
    font-size: 30px;
    color: #a52a2a;
}

.section_home {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.section_text_1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-style: bold;
}

.section_text_2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    background-color: bisque;
    max-width: 600px;
}

.section__1_text {
    border: 2px solid black;
    padding: 20px;
    overflow: hidden;
    width: 60px;
    height: 120px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.teste__aula {
    border: 10px dotted black;
    width: 80px;
    height: 80px;
    overflow: auto;
    padding: 10px 5px 5px 10px;
    margin: 10px 5px 5px 10px;
}

.menu {
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
}

.menu_item {
    position: relative;
    list-style: none;
    padding: 10px;
}

.submenu {
    position: absolute;
    display: none;
    background-color: aquamarine;
}

.com-submenu:hover .submenu {
    display:block
}

.bloco1 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    z-index: 2;
}

.bloco2 {
    width: 100px;
    height: 100px;
    background-color: #a52a2a;
    position: absolute;
    margin-top: 10px;    
    margin-left: 10px;
}

.titulo {
    color: #a52a2a;
    font-size: 30px;
}

.titulo:hover {
    color: blue;    
    background-color: azure;
}

.link {
    font-size: 30px;
    color: black;
}

.link:active {
    color: rgb(21, 218, 64);
}

.link:visited {
    color: rgb(149, 9, 192);
}

.input_texto:focus {
    background-color: black;
}

.lista1, .lista2 {
    font-size: 30px;
    padding-left: 50px;
}

.lista1 li:first-child {
    color: #a52a2a;
}

.lista1 li:last-child {
    color: blue;
}

.lista1 li:nth-child(2) {
    color: aqua;
}

.lista1 li::marker {
    color: #a52a9f;
}

.lista2 li:not(.nao_mudar) {
    color: blueviolet;
}

.radio_item:checked {
    margin: 50px;
    accent-color: #ffffff;
    width: 50px;
    height: 50px;
}

.desativado:disabled {
    background-color: rgb(199, 199, 202);
    border-radius: 2px;
}

.email:valid {
    background-color: aquamarine;
}

.email:invalid {
    background-color: #a52a2a;
}

.senha:required {
    background-color: #a52a2a;
}

.nome::placeholder {
    color: #a52a2a;
    text-transform: uppercase;
}

.paragrafo::first-letter {
    font-size: 50px;
}

.paragrafo::first-line {
    color: blue;
}

.paragrafo::selection {
    color: #a52a2a;
    background-color: rgb(158, 98, 20);
}

.gradiente {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(45deg, rgb(245, 95, 95), rgb(129, 197, 133))
}

.gradiente2 {
    width: 300px;
    height: 300px;
    background-image: radial-gradient(rgb(63, 61, 61), rgb(143, 57, 57))
}

.gradiente3 {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to top, rgb(22, 177, 125), black)
}

.translate {
    width: 200px;
    height: 200px;
    background-color: #a52a2a;
    transform: translate(100px, 100px);
}

.rotate {
    width: 200px;
    height: 200px;
    background-color: #ca8888;
    transform: rotate(10deg);
}

.scale {
    width: 200px;
    height: 200px;
    background-color: #420909;
    transform: scale(1.5, 2);
}

.skew {
    width: 200px;
    height: 200px;
    background-color: #464141;
    transform: skewX(10deg)
}

.transition {
    background-color: #a52a9f;
    width: 300px;
    height: 300px;
    transition: all 2s;
}

.transition:hover {
    width: 500px;
    height: 500px;
    transform: rotate(10deg);
    background-color: #851d7f;
}

.input_transition {
    padding: 20px;
    transition: all 5s;
}

.input_transition:focus {
    transform: scale(2)
}

.title_animation {
    font-size: 100px;
    animation-name: aparecer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
        color: #464141;
    }
    25% {
        color: #ca8888;
    }
    50% {
        color: aqua;
    }
    75% {
        color: aliceblue;
    }
    100% {
        color: #464141;
    }
}

.quadrado_base {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    position: relative; 
    left: 0px;
    top: 105px;
    
}

.quadrado_animado {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border: 2px solid black;
    animation: quadrado_animado 1s linear 0s infinite alternate;
}

@keyframes quadrado_animado {
    0% {}
    100% {
        transform: skewY(30deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filho {
    background-color: #851d7f;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.container1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filho1 {
    background-color: #bb9826;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.container2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.filho2 {
    background-color: #1d8522;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.container3 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.filho3 {
    background-color: #3c1d85;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.container4 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filho4 {
    background-color: #fc5f16;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.justify {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.justify1 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.justify2 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.justify3 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

.justify4 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.filho5 {
    background-color: #241711;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.dentro {
    display: flex;
    gap: 10px;
}

.dentro1 {
    display: flex;
    gap: 10px;
}

.filho6 {
    background-color: #3816fc;
    height: 50px;
    width: 50px;
    border: #464141 dashed 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 100px);
    column-gap: 5px;
    row-gap: 2px;
}

.borda {
    border: 2px solid black;
}

.gridgrid {
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 100px 200px 50px 200px;
    grid-template-areas: 
    "nav header header"
    "nav produtos aside"
    "nav servicos aside"
    "nav footer footer"
    "nav footer footer";
}

.headergrid {
    grid-area: header;
    background-color: #1d8522;
}

.navgrid {
    grid-area: nav;
    background-color: #3816fc;
}

.produtosgrid {
    grid-area: produtos;
    background-color: #a52a2a;
}

.servicosgrid {
    grid-area: servicos;
    background-color: #ca8888;
}

.asidegrid {
    grid-area: aside;
    background-color: #bb9826;
}

.footergrid {
    grid-area: footer;
    background-color: #464141;
}