* {
    margin: 0;
    padding: 0;
}

.menu_header {
    color: blue;
    list-style: none;
}

.menu_header li a {
    color: rgb(32, 211, 26);
    text-decoration: none;    
}

.menu_header li a:hover{
    color: rgb(211, 26, 186);
}

section h1 {
    color: #a52a2a;
}

.title_header {
    font-size: 30px;
    color: #a52a2a;
}

.section_home {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.section_text_1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-style: bold;
}

.section_text_2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    background-color: bisque;
    max-width: 600px;
}

.section__1_text {
    border: 2px solid black;
    padding: 20px;
    overflow: hidden;
    width: 60px;
    height: 120px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.teste__aula {
    border: 10px dotted black;
    width: 80px;
    height: 80px;
    overflow: auto;
    padding: 10px 5px 5px 10px;
    margin: 10px 5px 5px 10px;
}